/* Navigation Arrow Styling */

body{
    text-align:center;
}
.nav-arrow{
    width:50px;
    padding-left:50px;
    padding-right:50px;
}

#main-picture{
    min-height:500px;
    max-height:500px;
}
